:root {
  --color-light: #ffffff;
  --color-grey-light: #F6F6F6;
  --color-grey-medium: #DDDDDD;
  --color-grey-dark-1:#4F5665;
  --color-grey-dark-2: #0B132A;
--color-red: #F53838;
background-color: var(--color-grey-light);

}


/*icon class for sprite*/
.icon { 
  width: 50px; 
  height: 50px;
  margin: .5em;
}

  /*header*/
  .header {
    margin-top: 4.5rem;
    background-color: var(--color-grey-light);
    
  }
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__icon {
  width: 149px;
height: 36.23px;
left: 150px;
top: 50px;
}

.header_links, .header__links ul {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.header__links li {
  
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
gap: 4rem;
color: var(--color-grey-dark-1)
}
.header__links li:hover {
  

  color: var(--color-red);

  }
.header__buttons {
  display: flex;
  justify-content: space-between;
gap: 3rem ;
align-items: center;
}
.header__thick-font {
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: var(--color-grey-dark-2)
}
.header__thick-font:hover {
  
color: var(--color-red);
}
.simple_button {
  border: 1px solid var(--color-red);
  border-radius: 5rem;
  width: 15rem;
height: 4.5rem;
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 1.6rem;
line-height: 1.9rem;
text-align: center;
color: var(--color-red);


}
.simple_button:hover {
  background-color: var(--color-red);
  color: var(--color-light);
}

/********* hero section *************/
.hero {
  background-color: var(--color-grey-light);
  margin-top: 12.9rem;
}
.hero__left-block {
  width: 50%;
}
.hero__heading h1 {
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 5rem;
line-height: 7rem;
color: var(--color-grey-dark-2)
}
.hero__description p {
  font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: var(--color-grey-dark-1);
margin-top: 2rem;
}
.hero__button {
  margin-top: 5rem;
}
.red_button {
  width: 25rem;
height: 6rem;
background: #F53838;
border-radius: 1rem;
font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 1.6rem;
line-height: 2.5rem;
color: var(--color-light);
text-align: center;
box-shadow: 0px 20px 20px rgba(245, 56, 56, 0.35);
}
.red_button:hover{
  font-size: 1.64rem;
}
.red_button:hover {
  box-shadow: 0px 20px 20px rgba(245, 56, 56, 0.55);
 
}

.red_button:active {
  box-shadow: 0px 20px 20px rgba(245, 56, 56, 0.45);
}

/**************** stats ***********/

.stats {
  margin-top: 10.2rem;
}
.stats__white-block {
  background-color: var(--color-light);
  height: 20rem;
  border-radius: 1rem;
  align-items: center;
}

.stats__item p {
  font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
color: var(--color-grey-dark-2);

}

.stats__item span {
  font-size: 20px;
line-height: 30px;
color: #4F5665;
}

.stats__icon {
 height: 5.5rem;
 width: 5.5rem;
 margin-right: 3.7rem;
}