:root {
  --color-light: #ffffff;
  --color-grey-light: #F6F6f6;
  --color-grey-light-2:   #F8F8f8;

  --color-grey-medium: #dddddd;
  --color-grey-dark-1: #4f5665;
  --color-grey-dark-2: #0b132a;
  --color-red: #f53838;
  background-color: var(--color-light);
}

/*icon class for sprite*/
.icon {
  width: 50px;
  height: 50px;
  margin: 0.5em;
}
.heading_medium {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: var(--color-grey-dark-2);
  margin-bottom: 2rem;
}
.text_simple {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-grey-dark-1);
}
/*header*/
.header {
  margin-top: 4.5rem;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__icon {
  width: 149px;
  height: 36.23px;
  left: 150px;
  top: 50px;
}

.header_links,
.header__links ul {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.header__links li {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  gap: 4rem;
  color: var(--color-grey-dark-1);
}
.header__links li:hover {
  color: var(--color-red);
}
.header__buttons {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
}
.header__thick-font {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-grey-dark-2);
}
.header__thick-font:hover {
  color: var(--color-red);
}
.simple_button {
  border: 1px solid var(--color-red);
  border-radius: 5rem;
  width: 15rem;
  height: 4.5rem;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
  color: var(--color-red);
}
.simple_button:hover {
  background-color: var(--color-red);
  color: var(--color-light);
  box-shadow: 0px 10px 20px rgba(245, 56, 56, 0.25);
}

/********* hero section *************/
.hero {
  background-color: var(--color-light);
  margin-top: 12.9rem;
}
.hero__left-block {
  width: 50%;
}
.hero__heading h1 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 5rem;
  line-height: 7rem;
  color: var(--color-grey-dark-2);
}

.hero__description p {
  margin-top: 2rem;
}
.hero__button {
  margin-top: 5rem;
}
.red_button {
  width: 25rem;
  height: 6rem;
  background: #f53838;
  border-radius: 1rem;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--color-light);
  text-align: center;
  box-shadow: 0px 20px 20px rgba(245, 56, 56, 0.35);
}
.red_button:hover {
  font-size: 1.64rem;
}
.red_button:hover {
  box-shadow: 0px 20px 20px rgba(245, 56, 56, 0.55);
}

.red_button:active {
  box-shadow: 0px 20px 20px rgba(245, 56, 56, 0.45);
}

/**************** stats ***********/

.stats {
  margin-top: 10.2rem;
}
.stats__white-block {
  background-color: var(--color-light);
  height: 20rem;
  border-radius: 1rem;
  align-items: center;
  box-shadow: 0px 30px 90px rgba(13, 16, 37, 0.25);
}

.stats__item p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: var(--color-grey-dark-2);
}

.stats__item span {
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}

.stats__icon {
  height: 5.5rem;
  width: 5.5rem;
  margin-right: 3.7rem;
}

/*****features****/
.features {
  width: 100%;
  margin-top: 10.8rem;
  align-items: center;
}
.features__img {
  margin-top: -7rem;
}
.features__description li {
  list-style-image: url(./assets/logo/green_circle.svg);
  list-style-type: circle;
  list-style-position: inside;
}

.features__description ul {
  margin-top: 2rem;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  align-items: center;
  color: var(--color-grey-dark-1);
}
.features__description {
  width: 38%;
}
/*plan*/
.pusto {
  color: var(--color-grey-light);
  margin-bottom: 7rem;
}
.plan {
  margin-top: 10rem;
  /*padding-top: 10rem;*/
  text-align: center;
  background-color: var(--color-grey-light);
}
.plan .container {
  background-color: var(--color-grey-light);
}

.plan__block {
  margin-top: 8rem;
}
.plan__item {
  position: relative;
  width: 33rem;
  height: 76rem;
  border: var(--color-grey-medium) solid 0.2rem;
  border-radius: 1rem;
  background-color: var(--color-light);
}
.plan__item:hover {
  border: var(--color-red) solid 0.2rem;
  box-shadow: 0px 20px 20px rgba(13, 16, 37, 0.35);
}
.plan__item img {
  margin-top: 7.9rem;
  width: 14.5rem;
  height: 16.5rem;
}
.plan__heading {
  margin-top: 3rem;
  font-family: 'Rubik';
  font-style: medium;
  font-weight: 400;
  font-size: 18px;
  line-height: 141%;
  color: var(--color-grey-dark-2);
}
.plan ul {
  margin-top: 3rem;
  text-align: left;
  margin-left: 7.5rem;
  margin-bottom: auto;
}

.plan li {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: var(--color-grey-dark-1);
  list-style-type: circle;
  list-style-position: inside;
  list-style-image: url(./assets/logo/gal1.svg);
}

.plan__pricing {
  margin-bottom: 2rem;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: var(--color-grey-dark-2);
}
.plan__pricing span {
  color: var(--color-grey-dark-1);
}
.plan button {
  margin-bottom: 5rem;
}

.plan__free {
  margin-top: 13rem;
}
.plan__standard {
  margin-top: 9rem;
}
.plan__premium {
  margin-top: 6rem;
}

/*network*/
.network {
  /*padding-top: 15rem;*/
  background-color: var(--color-grey-light);
}
.network__block {
  /*margin-top: 15rem;*/
  text-align: center;
}
.network .container {
  background-color: var(--color-grey-light);
}
.network__block .pusto {
  margin-bottom: 15rem;
}
.text_simple + img {
  margin-top: 15.6rem;
  width: 106rem;
  height: 53.8rem;
}
.network__companies img {
  width: 190px;
  height: 60px;
  margin-top: 8rem;
}
.network__amazon img {
  width: 380px;
  height: 120px;
}

/******

*****
customer

*******
******/

.customer,
.customer.container,
.customer__block {
  background-color: var(--color-grey-light);
  padding-bottom: 0rem;
  height: 87.3rem;
}
.customer__block {
  text-align: center;
}
.customer__slider {
  margin-top: 6rem;
}
.customer__info--left img {
  width: 50px;
  height: 50px;
}

.customer__item {
  width: 360px;
  height: 230px;
  padding: 3rem;
  border: 2px solid var(--color-grey-medium);
  border-radius: 10px;
  text-align: left;
  align-items: center;
}
.customer__item:hover {
  border: 2px solid var(--color-red);
  box-shadow: 0px 20px 20px rgba(13, 16, 37, 0.35);
  background-color: var(--color-light);
}
.customer__info--right svg {
  width: 16px;
  height: 16px;
  font-size: 16px;
}
.customer__info--right {
  align-items: center;
  gap: 0.5rem;
}
.customer__info--left p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
.customer__info--left span {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.customer__info--left {
  gap: 2rem;
}

.customer__item p {
  margin-top: 1rem;
}

.customer__navigation {
  margin-top: 8.24rem;
}

.customer__navigation--right img {
  width: 60px;
  height: 60px;
  align-items: center;
}
.customer__navigation--right,
.customer__navigation--left {
  align-items: center;
}
.customer__navigation--left svg {
  margin-top: 2rem;
  height: 15px;
  width: 30.14px;
  align-items: center;
}

.customer__navigation--right img:hover {
  width: 60px;
  height: 60px;
  align-items: center;
}

.customer__button {
  margin: 0 1rem;
  border: 3px solid var(--color-red);
  border-radius: 5rem;
  width: 6rem;
  height: 6rem;
  font-family: 'Rubik';
  font-style: bold;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.9rem;
  text-align: center;
  color: var(--color-red);
}
.customer__button:hover {
  background-color: var(--color-red);
  color: var(--color-light);
  box-shadow: 0px 10px 20px rgba(245, 56, 56, 0.45);
}
.customer__button:active {
  box-shadow: 0px 10px 40px rgba(245, 56, 56, 0.25);
}


/**footer***/
.footer, .footer__block, .footer.container {
  padding-top: 0rem;
  background-color:var(--color-grey-light-2);
  height: 56.3rem;
 
}

.footer__left, .footer__right {
  margin-top: 18rem;
}
.footer__left p {
 margin-top: 2.6rem;
}

.footer__social a {
  margin-left: -2rem;
  margin-top: 3rem;
  margin-right: .4rem;
}
.footer__copyright {
  margin-top: -7rem;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
 margin-bottom: 10rem;
  color: #AFB5C0;

}
.footer__right {
  width: 50%;
}

.footer__navigation h3 {
  margin-bottom: 2rem;
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
color: var(--color-grey-dark-2);
}

.footer__navigation li {
  font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
color: var(--color-grey-dark-1)
}
.footer__navigation li:hover {
  color: var(--color-red);
  transform: rotate(7deg) scale(1.01);
}
.footer__navigation li:active {

  transform: rotate(-7deg) scale(1.01);
}

/*white section*/
.customer {
  position: relative;
}
.customer__white-section {
  position: relative;
  background-color: var(--color-light);
  border-radius: 1rem;
  height: 23.3rem;
  width: 114rem;
  left:auto;
  right: auto;
  bottom: 12rem;
  box-shadow: 0px 3rem 9rem rgba(13, 16, 37, 0.25);
  align-items: center;
}